.navigation {
  &--phone {
    position: absolute;
    top: 70px;
    left: -150%;
    width: 100vw;
    height: 70vh;
    background-color: rgba(40, 195, 255, 0.98);
    transition: 0.25s linear;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);

    @media (orientation: landscape) and (min-width: 640px) {
      height: 80vh;
    }

    @include mq(medium) {
      width: 70vw;
      height: 50vh;
    }
  }

  &--large {
    width: 50%;

    @include mq(xxlarge) {
      width: 40%;
    }
  }

  &--show {
    left: -30%;

    @media (orientation: landscape) and (min-width: 640px) {
      left: -55%;
    }
  }

  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;

    @include mq(large) {
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
  }

  &__item {
    text-align: center;
    flex-grow: 1;

    @include mq(large) {
      display: flex;
    }
  }

  &__link {
    display: flex;
    width: 100vw;
    height: 100%;
    padding-right: 50px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    color: $color-white;
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;
    text-align: right;
    text-decoration: none;
    transition: 0.2s;

    @include mq(large) {
      position: relative;
      top: 0;
      left: 0;
      width: 25%;
      padding: 10px;
      flex-direction: row;
      color: $color-light-blue;

      &:hover::after {
        width: 70%;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15%;
        width: 0%;
        height: 2px;
        background-color: $color-light-blue;
        transition: 0.3s;
      }
    }
  }
}
