.footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    text-align: center;

    @include mq(large) {
        background-color: $color-light-blue
    }

    &__description {
        color: $color-light-blue;

        @include mq(large) {
            color: $color-white;
        }
    }
}