.hero {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 70px;
  height: 80vh;
  overflow: hidden;

  @media (orientation: landscape) and (min-width: 640px) {
    height: 100vh;
  }

  &__video {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateX(-30%);
    min-width: 100%;
    min-height: 100%;
    z-index: 0;

    @media (orientation: landscape) and (min-width: 640px) {
      transform: translateY(-10%) translateX(-20%);
    }

    @include mq(large) {
      min-height: 120%;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    line-height: 100vh;
    font-weight: $font-weight-normal;

    @include mq(medium) {
      font-size: $font-size-XL;
    }

    &::after {
      content: '';
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 4px;
      border-radius: 50px;
      background-color: $color-light-blue;
      z-index: 1;

      @media (orientation: landscape) and (min-width: 640px) {
        top: 60%;
      }

      @include mq(medium) {
        top: 55%;
      }

      @include mq(large) {
        top: 57%;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    width: 238px;
    height: 50px;
    background-color: white;
    color: $color-light-blue;
    border-radius: 50px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    transform: translate(-50%,-50%);
    transition: all ease-in-out 300ms;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.32px;
    cursor: pointer;
    outline: none;
    z-index: 1;   
  }
}
