.price {
  margin-bottom: 30px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 540px;
    margin-bottom: 20px;

    @media (orientation: landscape) and (min-width: 640px) {
      width: 70%;
      margin: 20px auto 0px;
    }

    @include mq(medium) {
      flex-direction: row;
      width: 100%;
      min-height: 340px;
      padding: 10px;
    }

    @include mq(xxlarge) {
      max-width: 1440px;
    }
  }

  &__wrapper-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;

    @include mq(medium) {
      width: 50%;
      height: 300px;
    }

    @include mq(large) {
      height: 350px;
      justify-content: space-evenly;
    }

    @include mq(xlarge) {
      height: 400px;
    }

    @include mq(xxlarge) {
      padding: 50px;
    }
  }
  &__image {
    position: relative;
    top: 0;
    left: 0;
    height: 300px;
    background-image: url('../assets/doctors.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (orientation: landscape) and (min-width: 640px) {
      width: 100%;
      margin: 20px auto 0px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @include mq(medium) {
      width: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @include mq(large) {
      height: 350px;
    }

    @include mq(xlarge) {
      height: 400px;
    }

    @include mq(xxlarge) {
      height: 450px;
    }
  }
  &__title {
    text-align: center;
    font-size: $font-size-medium-large;

    @include mq(xxlarge) {
      font-size: $font-size-large;
    }
  }

  &__description {
    padding: 0px 20px;
    line-height: $line-height-small;
    color: $color-elegant-light;
    text-align: center;

    @include mq(xxlarge) {
      font-size: $font-size-medium;
    }
  }

  &__wrapper-list {
    @include mq(large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
    }

    @include mq(xxlarge) {
      max-width: 1440px;
      margin: 30px auto;
    }
  }

  &__wrapper-list-col {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0px 20px;
    transition: 0.2s;

    @include mq(large) {
      cursor: pointer;

      &:hover {
        background-color: #e3e3e3;
      }
    }
  }

  &__wrapper-title {
    align-self: center;

    @include mq(xxlarge) {
      font-size: $font-size-medium-large;
    }
  }

  &__icon {
    font-size: 4rem;
    color: $color-light-blue;
    transition: 0.5s;
    transform-origin: center;

    @include mq(xxlarge) {
      font-size: 4rem;
    }
  }

  &__wrapper-list-item {
    height: 50px;
    overflow: hidden;
    transition: 0.5s;

    @include mq(large) {
      width: 45%;
    }
  }

  &__wrapper-list-item--show {
    height: 250px;
  }

  &__wrapper-table {
    border-collapse: collapse;
    width: 100%;
  }

  &__wrapper-row {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 8px;
    text-align: center;

    &:nth-child(even) {
      background-color: #dddddd;
    }
  }

  td,
  th {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 8px;
    text-align: center;

    @include mq(xxlarge) {
      font-size: $font-size-medium;
    }
  }
}
